# --------------------

# FRONTEND (React)

# --------------------

frontend/node_modules/
frontend/build/
frontend/coverage/

frontend/.env.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env.development.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# --------------------

# BACKEND (Python)

# --------------------

backend/**pycache**/
backend/*.pyc
backend/.env
backend/venv/

# ML Models (large files)

backend/models/*.h5
backend/models/*.pkl

# --------------------

# PYTHON CACHE

# --------------------

**pycache**/
*.pyc
*.pyo
*.pyd

# --------------------

# VIRTUAL ENV

# --------------------

venv/
.env

# --------------------

# OS FILES

# --------------------

.DS_Store
Thumbs.db
