# --------------------
# FRONTEND (React)
# --------------------
frontend/node_modules/
frontend/build/
frontend/.pnp
frontend/pnp.js
frontend/coverage/
frontend/.env.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env.development.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# --------------------
# BACKEND (Python)
# --------------------
backend/__pycache__/
backend/ml/__pycache__/
backend/*.pyc
backend/.env


# --------------------
# OS/System
# --------------------
.DS_Store
Thumbs.db


backend/models/densenet_model.h5
backend/venv/