.login-page {
  min-height: 100vh;
  background: #f4f6f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.login-header {
  text-align: center;
  margin-bottom: 30px;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

.logo-icon {
  color: #2d7f72;
}

.login-card {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}


.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

.login-form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-form input:focus {
  outline: none;
  border-color: #2d7f72;
}

.login-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #2d7f72;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #24685f;
}

.register-text {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #6b7280;
}

.register-text span {
  color: #2d7f72;
  cursor: pointer;
  font-weight: 500;
}